.delete-alert {
  background-color: #1ab45d;
  width: 300px;
  color: #ffff;
  box-shadow: 0 0 2px #888;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 3px;
}
.success-img {
  width: 20px;
}
